<div class="container">
  <footer class="footer">
    <small>
      by <a href="http://www.rissgadi.com">Riss Gadi</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", welcome_about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
